/* Fonts */

@font-face {
  font-family: 'Old London';
  src: url('fonts/OldLondon.woff2') format('woff2'),
      url('fonts/OldLondon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Abbasy Calligraphy Typeface';
  src: url('fonts/AbbasyCalligraphyTypeface.woff2') format('woff2'),
      url('fonts/AbbasyCalligraphyTypeface.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/* Custom Properties */
:root {
--system-ui: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
--background-color: #531818;
--white: #f8f8f8;
--blue: #279af8;
--green: #69b64b;
--red: #dc4242;
--black: #151515;
--light-grey: #747474;
--container-bg-color: #e0e0e0;
}

/* Body and Page div layout */
body {
  font-family: var(--system-ui);
  background: var(--container-bg-color) url(images/library.jpg);
  display: grid;
  grid-template-rows: 6em, 5fr, 1fr;
  gap: 40px;
}

 
.page {
    margin: 0 auto;
    width: clamp(700px, 75%, 1440px);
    min-height: 100vh;
  }

/* Header section */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  border-bottom: 2px solid white;
  padding: 1.5em 4em;
}

.logo {
  display: flex;
  gap: 2em;
  align-items: center;
}

.logo img {
  height: 5em;
}

.logo h1 {
  font-family: 'Old London', var(--system-ui);
  font-size: 4.5rem;
  color: #f2eaea;
}

header .add-book {
  font-size: 1.2rem;
  font-weight: 900;
  height: 3em;
  width: 10em;
  border-radius: 30px;
  background-color: var(--blue);
  outline: none;
  border-style: none;
  color: var(--white);
}

header .add-book:hover {
  cursor: pointer;
  background-color:#57b0fa
}

/* Dialog and form  */
dialog {
  margin: 0 auto;
  top: 20vh;
  padding: 1.5em;
  border-radius: 30px;
}

dialog h2 {
  color: var(--black);
  font-size: 2rem;
  margin-left: 1em;
}

fieldset {
  border-style: none;
}

fieldset.details {
  display: grid;
  grid-template-rows: repeat(3, 3em);
  gap: 0.625em;
  padding: 0.625em;
  margin: 0.625em;
  justify-content: space-between;
}

.details {
  font-size: 1.5rem;
}

.details > div {
  display: flex;
  flex-direction: column;
}

.read-status {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 0.5em;
}

.read-status h3 {
  color: var(--black);
}

.radio-buttons {
  display: flex;
  gap: 1em;
}

.radio-buttons > div {
  display: flex;
  gap: 0.5em;
}

input[type=radio] {
  cursor: pointer;
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5);
}

form input {
  border-radius: 8px;
  border: 2px solid rgb(197, 196, 196);
}

input:focus {
  border-radius: 8px;
  outline: none;
  border: 2px solid var(--blue);
}

form .buttons {
  display: flex;
  gap: 1em;
  margin: 0.5em 0 1em 1em;
}

.buttons button {
  height: 2.5em;
  width: 6em;
  border-radius: 30px;
  border-style: none;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
}

#submit {
  background-color: var(--green);
}

#submit:hover {
  cursor: pointer;
  background-color: #53913b;
}

.close {
  background-color: var(--red);
}

.close:hover {
  cursor: pointer;
  background-color: #c62424;
}

::backdrop {
  background-color: var(--black);
  opacity: 0.9;
}

/* Container and cards */

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.625em;
  border-radius: 10px;
  background-color: rgba(36, 36, 36, 0.8)
}

.container .card {
  display: grid;
  grid-template-rows: 2fr, repeat(4, 1fr);
  gap: 0.5em;
  background-color: var(--white);
  border-radius: 10px;
  padding: 1.25em;
  margin: 0.625em;
}

.card h1 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
          line-clamp: 1;
  font-family: 'Abbasy Calligraphy Typeface', var(--system-ui);
  font-size: 1.5rem;
  border-bottom: 2px solid var(--light-grey);
  padding-bottom: 5px;
}

.card h2 {
  font-size: 1.2rem;
}

.card h3 {
  font-size: 1.1rem;
}

.card p {
  font-size: 1rem;
  font-weight: bold;
  color: #5a5858
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

button.status-btn,
button.remove-book {
  width: 6.25em;
  height: 2.5em;
  padding: 5px;
  color: var(--white);
  border-radius: 30px;
  border-style: none;
  font-weight: bold;
}

button.remove-book {
  background-color: var(--red);
}

button.status-btn:hover,
button.remove-book:hover {
  cursor: pointer;
  filter: brightness(85%);
}

footer {
  background-color: var(--background-color);
  text-align: center;
  padding: 1.25em;
  color: white;
  border-top: 2px solid white;
}